


body {
    justify-content: center;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    width: 1040px;
    align-items: center;
    
   
    
}


.container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 31%, rgb(81, 33, 127) 100%);
    height: 100vh;
}

.game-name {
    width: 90vw;
    margin: 15px;
    justify-content: center;
    align-items: center;   
    padding-top: 25px;   
    flex-wrap: wrap; 
    display: flex;
    font-weight: 900;    
    font-size: 2rem;     
    text-align: center;    
    color: rgb(216, 230, 215);  
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 5px 10px rgb(47, 62, 234);
 }
    

.content {
    margin: 20px;
    padding-top: 25px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.astro {

    margin: 25px;
    width: 60vw;


}




/* Keyframe animation for title of game*/

@keyframes floating {
    0% {
        transform: translateY (0);
    }
    50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }
    }

.game-name {
    animation: floating 2s ease-in-out infinite;
}


/*information starts here*/

.information {
    margin: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.5;
    padding-bottom: 20px;
    
}

a {
    color: rgb(135, 16, 255);
    text-decoration: none;
}

.button {
    
    margin: 15px;
    background-color: rgb(235, 235, 235);
    color: rgb(25, 250, 4);
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    cursor: grab;
    
}

/* animation for play button */

@keyframes buttonAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .button {
    animation: buttonAnimation 1s ease-in-out infinite;
  }





  /* this is the css for game-page */

  .title-of-game{
    color: rgb(211, 244, 201);
    text-shadow: 3px 2px 10px;
    text-align: center;
    padding: 25PX;
    justify-content: center;
    border: 2px solid #ff00b7;
    box-shadow: 3px 5px 20px #ff00b7;
  }

  #game-body {
    background-image: url(content/back-ground.png);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  /*.game-container {
    display: block; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(content/back-ground.png);
    width: 90vw;
    height: 80vh;
    margin: 35px;
    padding-right: 15px; 
    border: 2px solid rgb(0, 255, 26);
    box-shadow: 3px 5px 50px chartreuse;
  } 

*/

  